<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="papb.coba.parkinsonkit" >

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_parkinson"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >


        <activity android:name=".Splash" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".InformationActivity"
            android:label="@string/title_activity_information"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>

        <activity
            android:name=".TremorIdentificationActivity"
            android:label="@string/title_activity_tremor_identification"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".InformationTentang"
            android:label="@string/title_activity_information_tentang"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".InformationPenyebab"
            android:label="@string/title_activity_informasi_penyebab"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".InformationGejala"
            android:label="@string/title_activity_informasi_gejala"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".InformationPenanganan"
            android:label="@string/title_activity_informasi_penanganan"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".expandableclass"
            android:label="Informasi Komunitas"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
